*{
    margin: 0;
    padding: 0;
}
body{
    background: url("images/EmpSugBox.png");
    background-size:cover;
    /* background-position: 140px, 0; */
}

div.main{
    padding: 0 1%;
    margin: 100px auto 0 auto;
}

table{
    margin: 0 auto;
    text-align: center;
}

th {
    text-align: left;
}

table, th, td{
    border: 1px solid #0001;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

tr:nth-child(even){
    background-color: rgb(211, 217, 234);
}
tr:nth-child(odd){
    background-color: #775dc6;
}



h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.Students{
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    font-size: 95%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding-bottom: 3%;
    margin: 0 auto;
}
table#Students{
    margin: 40px;
}

span,h2{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
